Streamlit
Numpy
Pandas
matplotlib.pyplot
IPython.display
display
streamlit_folium
folium_static
folium
csv
seaborn
sklearn
linear_model
Lasso
LinearRegression
tree
DecisionTreeClassifier
KNeighborsClassifier
train_test_split
sklearn.linear_model
sklearn.tree
sklearn.neighbors
sklearn.model_selection
warnings